#container
  overflow-x hidden

.numeric
  text-align right
  min-width 2em

// https://developer.mozilla.org/en/docs/Web/CSS/Privacy_and_the_:visited_selector
a:visited
  *
    color #aaa

// https://github.com/callemall/material-ui/issues/3667
#header
  > *:first-child
    margin-top 13px!important
